/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [PKEY]
      ,[RN_SESSION_PKEY]
      ,[ROUTE_PKEY]
      ,[LOCATION_REGION_ID]
      ,[LOCATION_TYPE]
      ,[LOCATION_ID]
      ,[LOCATION_EXTENSION_PKEY]
      ,[SEQUENCE_NUMBER]
      ,[STOP_TYPE]
      ,[STOP_IX]
      ,[ARRIVAL]
      ,[SERVICE_TIME]
      ,[TRAVEL_TIME]
      ,[DISTANCE]
      ,[OPEN_TIME]
      ,[CLOSE_TIME]
      ,[TW1_OPEN_TIME]
      ,[TW1_CLOSE_TIME]
      ,[TW2_OPEN_TIME]
      ,[TW2_CLOSE_TIME]
      ,[STD_FRAG_NUM]
      ,[DELIVERY_COST]
      ,[USER_MODIFIED]
      ,[DATE_MODIFIED]
      ,[READ_ONLY]
      ,[TRIP_NUMBER]
      ,[LAYOVER_DEPARTURE_TYPE]
      ,[LAYOVER_DURATION_OR_TIME]
      ,[ST_FIXED_PORTION]
  FROM [Merch].[Staging].[RS_STOP]