/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [DeliveryDateUTC]
      ,[SAPAccountNumber]
      ,[PartyID]
      ,[DepartureTime]
      ,[KnownDepartureTime]
      ,[IsEstimated]
      ,[Delta]
      ,[DNS]
      ,[LockerProcessID]
  FROM [Merch].[Notify].[StoreDeliveryMechandiser]
