Insert Into Staging.RS_ROUTE Select * From OpenQuery(RN, ' SELECT 
			R.PKEY, R.RN_SESSION_PKEY, R.ROUTE_ID, 
			0 DRIVER1_ID, '' DRIVER_FNAME, '' DRIVER_LNAME, '' DRIVER_PHONE_NUM, 
			R.LOCATION_REGION_ID_ORIGIN, 
			R.STATUS, R.START_TIME, R.COMPLETE_TIME, R.DATE_MODIFIED, R.TRAVEL_TIME, R.SERVICE_TIME, R.BREAK_TIME, R.USER_MODIFIED 
		FROM TSDBA.RS_ROUTE R
		WHERE R.DATE_MODIFIED > TO_DATE(''2018-01-23 19:15:51'', ''YYYY-MM-DD HH24:MI:SS'') AND R.STATUS = ''PUBLISHED'' ')