/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [ROUTE_PKEY]
      ,[RN_SESSION_PKEY]
      ,[SALESOFFICE_ID]
      ,[STOP_IX]
      ,[SEQUENCE_NUMBER]
      ,[STOP_TYPE]
      ,[ACCOUNT_NUMBER]
      ,[ARRIVAL]
      ,[SERVICE_TIME]
      ,[TRAVEL_TIME]
      ,[DISTANCE]
      ,[USER_MODIFIED]
      ,[DATE_MODIFIED]
  FROM [Merch].[Staging].[RS_STOP]
  order by route_pkey, rn_session_pKey, stop_ix